@media only screen and (min-width: 10px) {
  
}

@media only screen and (min-width: 200px) {
  /* new CSS */
  /* CSS files add styling rules to your content */
  .custom-cursor {
    /* background:gray; */
    /* width:200px; */
    /* height:200px; */
    cursor: url(./images/pencil_01.png), auto;
  }

  .highlight-disable {
    user-select: none;
    -moz-user-select: none;
  }

  .voice {
    padding-top: 20;
    padding-bottom: 40px;
    font-family: 'Sumana', serif;
    color: #15235a;
    font-size: 27px;
    line-height: 42px;
  }
  
  .left {
    /* background: white; */
    width: 50%;
    left: 0;
    position: absolute;
  }
  .right {
    background: eaeaea;
    width: 50%;
    right: 0;
    top: 0;
    height: calc(100% - 50px);
    position: fixed;
    border-left: 1px solid #a9a9a9;
  }
  .page-container {
    display: flex;
    height: calc(100vh - 120px);
  }
  .content-container {
    scroll-snap-align: start;
    height: 40vh;
    /* background-color: white; */
    margin-top: 10px;
    padding: 20px;
    margin-bottom: 400px;
  }
  .paragraph {
    background-color: gold;
  }
  .footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    border-top: 1px solid #a9a9a9;
  }
  .interactive-container {
    background-color: white;
    height: 100%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .header-container {
    background-color: white;
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    border-bottom: 1px solid #a9a9a9;
  }
  .story-container {
    padding: 3%;
    scroll-snap-type: y mandatory;
  }
  .header-logo-text {
    height: 30%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    font-weight: 300;
    transform: translateY(-50%);
    font-family: 'Lora', serif !important;

    /* font-family:'Roboto', sans-serif !important; */
  }
  .header-span {
    font-size: 20px;
    padding-left: 1.5%;
  }
  .storyname-span {
    color: darkgrey;
    font-weight: 300;
    font-size: 20px;
    padding-right: 1.5%;
    float: right;
  }
  .cta-container {
    flex: auto;
  }
  .icon-recording {
    width: 3%;
    float: left;
  }
  .recording-button {
    background: url(./images/recording-off.svg) no-repeat;
    cursor: pointer;
    border: none;
    position: fixed;
    width: 45px;
    height: 45px;
    /* -webkit-filter: drop-shadow(0px 0px 7px rgba(253, 144, 144, 0.5)); */
  }
  .recording-button-active {
    background: url(./images/recording-off.svg) no-repeat;
    cursor: pointer;
    border: none;
    position: fixed;
    width: 45px;
    height: 45px;
    -webkit-filter: drop-shadow(0px 0px 7px rgba(253, 144, 144, 0.3));
  }
  .painter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    pointer-events: none;
  }
  .recording-button:focus {
    outline: none;
  }
  .verticalLine {
    border-left: 1px solid #a9a9a9;
    height: 100%;
  }
  .horizontalLine {
    border-bottom: 1px solid #a9a9a9;
    height: 72%;
  }
  .wrap {
    height: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-animation {
    width: 250px;
    z-index: 20;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
    transition: all 0.25s ease 0.1s;
    cursor: pointer;
  }
  .button-animation:focus, input:focus {
    outline: none;
  }
  .button-animation:hover {
    background-color: #6b45f2;
    box-shadow: 0px 15px 20px #592bfed9);
    color: #fff;
    transform: translateY(-5px);
  }
  .wrap-what-happened {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .what-happened-button {
    display: inline-block;
    width: 230px;
    z-index: 20;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 28px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(129, 129, 129, 0.14);
    transition: all 0.25s ease 0.1s;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
  }
  .what-happened-button:focus, input:focus {
    outline: none;
  }
  .what-happened-button:hover {
    background-color: #dedede;
    box-shadow: 0px 15px 20px rgba(214, 214, 214, 0.4);
    color: #fff;
  }
  .wrap-one-more {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .button-animation-one-more {
    display: inline-block;
    width: 40%;
    z-index: 20;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.14);
    transition: all 0.25s ease 0.1s;
    cursor: pointer;
  }
  .button-animation-one-more:focus, input:focus {
    outline: none;
  }
  .button-animation-one-more:hover {
    background-color: #F57F17;
    box-shadow: 0px 15px 20px rgba(241, 203, 134, 0.4);
    color: #fff;
    transform: translateY(-0px);
  }
  .player-controls {
    background-color: white;
    height: 100%;
    width: 250px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Roboto', sans-serif;
    float: right;
  }
  /* New Css End */
  .container {
    z-index: 265;
    position: absolute !important;
    padding-top: 60px !important;
    width: 100% !important;
  }
  #container {
    width: 100%;
    height: 150px;
    background-color: red;
  }
  #buttons {
    color: white;
    background-color: #FF00FF;
    position: absolute;
    z-index: 5;
    text-align: center;
    top: 50px;
    width: 100%;
    height: 30px;
  }
  .sticky-button {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: "white";
    font-family: 'Sumana', serif;
    z-index: 100;
    width: 27%;
    margin-top: 20px;
    line-height: 60px;
    font-size: 16px;
    border: 2px solid #868686;
    color: #888888;
  }
  .current-seed {
    color: #bbbbbb;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 0px;
    padding-top: 1px;
    padding-right: 5px;
    padding-left: 15px;
  }
  .page-number {
    position: fixed;
    left: 94%;
    color: #6d6d6d;
    margin-left: 0px;
  }
  .currnet-paragraph {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #bbbbbb;
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
    user-select: none;
    -moz-user-select: none;
  }
  .pause-and-play {
    height: 25px;
    width: 25px;
    content: "";
    margin: auto;
    opacity: .15;
  }
  .pause-and-play:hover {
    /* background-image: url("./images/pause.svg"); */
    height: 25px;
    width: 25px;
    content: "";
    margin: auto;
    opacity: .25;
  }

  .story-column {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .rebranch-container {
    /* width: 100%; */
    /* height: 100%; */
    position: absolute;
    top: 50%;
    right: -80px;
    /* left: 50%; */
  }
  .paragraph-container {
    padding-top: 0px;
    /* background: white; */
    /* color: white; */
    opacity: 0.0;
    display: block;
    position: relative;
  }
  .rebranch-button {
    height: 25px;
    width: 25px;
    content: "";
    margin: auto;
    opacity: .05;
  }
  .rebranch-button:hover {
    height: 25px;
    width: 25px;
    content: "";
    margin: auto;
    opacity: .2;
  }
  /* .rebranch-button:hover{
  height: 25px;
  width: 25px;
  content: "";
  margin: auto;
  opacity: .25;
} */
  .pause-play-container {
    padding-top: 12px;
    padding-right: 6.5%;
    float: right;
  }
  .container-fluid {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    width: 100% !important;
  }
  .mobileContainer {
    padding-right: 0px;
    padding-left: 0px;
  }
  .icon-font {
    position: absolute !important;
    /* background-color: red; */
    z-index: 5;
    padding-top: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #303030;
    position: relative;
    top: -15px;
  }
  .sub-text {
    z-index: 265;
    padding-top: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333333;
    font-weight: 300;
    position: relative;
    top: -15px;
  }
  /*TYPOGRAPHY*/
  a {
    outline: none;
    color: #4419e0;
  }
  a:active {
    color: #4419e0;
  }
  a:visited {
    color: #4419e0;
  }
  a:hover {
    color: #7256d8;
    text-decoration: underline;
  }
  .sub-text-players {
    /* max-width: 280px; */
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    top: -20px;
    z-index: 222;
  }
  .reset-timer {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    top: -25px;
  }
  .about {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    position: relative;
    z-index: 252;
    top: -30px;
  }
  .sub-text-instructions {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    font-weight: 800;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: -110px;
  }
  .about-text {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 75px;
  }
  .about-running-text {
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 100px;
    text-decoration: none !important;
  }
  .about-musical-text {
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 110px;
    text-decoration: none !important;
  }
  .about-header-text {
    padding-right: 25%;
    padding-left: 25%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 600;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 100px;
    text-decoration: none !important;
  }
  .about-created-text {
    padding-right: 0%;
    padding-left: 0%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    color: #303030;
    font-weight: 300;
    position: relative;
    top: 120px;
    text-decoration: none !important;
  }
  .logo {
    text-align: center;
    width: 15px;
  }
  .body {
    padding: 20px;
    background-color: 'white';
  }
  .button {
    margin-left: 3px;
    margin-right: 3px;
    z-index: 100;
    background-color: white;
    border: 1.5px solid #9a9a9a;
    margin-top: 20px;
    line-height: 60px;
    padding: 0 4%;
  }
  .button:hover {
    background: #fbfaf2;
    text-decoration: underline;
  }
  .button-holder {
    z-index: 100;
    font-size: 20px;
    width: 23%;
    background-color: white;
    font-family: 'Sumana', serif;
    border: 1.5px solid #868686;
  }
  .illustration-container {
    border: none !important;
  }
  .img-thumbnail {
    border: none;
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 55px;
    padding-bottom: 10px;
    opacity: 0.8;
    background: none;
  }

  .prompt-container {
    padding-left: 50px;
    user-select: none;
    -moz-user-select: none;
  }


  .buttonContainer {
    top: 0%;
    z-index: 100;
    text-align: center;
    height: 100%;
    width: 75%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
  }
  .progress2 {
    padding: 0px;
    border-radius: 30px;
  }
  .progress-bar2 {
    height: 2px;
    border-radius: 2px;
    /* transition-property: width, background-color; */
  }
  .progress-moved {
    width: 0%;
    background-color: #d8d7d7;
  }
  .progress-moved:hover {
    width: 0%;
    background-color: #a7a5a5;
  }
  .progress-moved:focus {
    width: 0%;
    background-color: #a7a5a5;
  }
  .one-more-sentence {
    margin: 0 auto;
    display: block;
    text-align: center;
    background: "white";
    font-weight: 300;
    z-index: 100;
    line-height: 60px;
    font-size: 14px;
    letter-spacing: .03em;
    color: #cac5c5;
    font-family: 'Roboto', sans-serif;
    border: none;
  }
  .one-more-sentence:hover {
    margin: 0 auto;
    display: block;
    text-align: center;
    background: "white";
    z-index: 100;
    line-height: 60px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .03em;
    color: #a7a5a5;
    font-family: 'Roboto', sans-serif;
    border: none;
    text-decoration: underline;
  }
  .one-more-sentence:focus {
    /* width: 100%; */
    margin: 0 auto;
    display: block;
    text-align: center;
    background: "white";
    z-index: 100;
    line-height: 60px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .03em;
    color: #a7a5a5;
    font-family: 'Roboto', sans-serif;
    border: none;
    text-decoration: underline;
    outline: none;
  }
  .one-more {
    width: 120%;
    text-align: center;
    background: "white";
    z-index: 100;
    line-height: 60px;
    font-size: 20px;
    letter-spacing: .03em;
    color: #8a8a8a;
    font-family: 'Sumana', serif;
    border: 2px solid #8a8a8a;
  }
  .one-more:hover {
    width: 120%;
    text-align: center;
    background: "white";
    z-index: 100;
    line-height: 60px;
    font-size: 20px;
    letter-spacing: .03em;
    color: #8a8a8a;
    font-family: 'Sumana', serif;
    border: 2px solid #8a8a8a;
    text-decoration: underline;
  }
  .one-more:focus {
    width: 120%;
    text-align: center;
    background: "white";
    z-index: 100;
    line-height: 60px;
    font-size: 20px;
    letter-spacing: .03em;
    color: #8a8a8a;
    font-family: 'Sumana', serif;
    border: 2px solid #8a8a8a;
    text-decoration: underline;
    outline: none;
  }
  .blog-post {
    margin: auto;
    text-align: center;
    /* margin-top: 25px; */
    /* width: 120%; */
    text-align: center;
    background: "white";
    /* z-index: 100; */
    /* line-height: 60px; */
    font-size: 18px;
    letter-spacing: .03em;
    color: #8a8a8a;
    font-family: 'Sumana', serif;
  }
  .blog-post:hover {
    margin: auto;
    text-align: center;
    /* margin-top: 25px; */
    text-align: center;
    background: "white";
    /* z-index: 100; */
    /* line-height: 60px; */
    font-size: 18px;
    letter-spacing: .03em;
    color: #8a8a8a;
    font-family: 'Sumana', serif;
    text-decoration: underline;
  }
  .blog-post:focus {
    margin: auto;
    /* margin-top: 25px; */
    text-align: center;
    /* width: 120%; */
    text-align: center;
    background: "white";
    /* z-index: 100; */
    /* line-height: 60px; */
    font-size: 18px;
    letter-spacing: .03em;
    color: #8a8a8a;
    font-family: 'Sumana', serif;
    text-decoration: underline;
    outline: none;
  }

  .title-text {
    border: none;
    padding-left: 1%;
    width: 93%;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
  }
  .title-text:focus {
    outline: none;
  }
  .title-text-eg {
    padding-left: 6px;
    width: 110%;
    font-size: 17px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #b7b7b7;
  }

  .title-text-name {
    font-size: 20px;
    color: #b5b0b6;
    font-family: 'Sumana', serif;
  }

  .start-paragraph {
    position: relative;
    text-align: center;
    background: "white";
    font-weight: 300;
    z-index: 100;
    margin-top: 20px;
    line-height: 50px;
    font-size: 35px;
    letter-spacing: .03em;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Abhaya Libre', serif !important; */
  }

  .start-paragraph-header {
    position: relative;
    text-align: center;
    background: "white";
    color: #3e4a56;
    z-index: 100;
    margin-top: 20px;
    line-height: 65px;
    padding-bottom: 15px;
    font-size: 65px;
    letter-spacing: .03em;
    /* font-family: 'Roboto', sans-serif; */
    font-family:  'Lora', serif !important;
  }


  .start-background {
    position: relative;
    top: 200px;
    padding: 10px;
    background: "white";
    z-index: 100;
    margin-top: 20px;
    /* background-color: #fff; */
    /* box-shadow: 0 0 20px 20px #fff; */
    user-select: none;
    -moz-user-select: none;
  }
  .start-button {
    background-color: white;
    border-radius: 50px;
    position: relative;
    top: 220px;
    left: 20px;
    z-index: 100;
    width: 27%;
    margin-top: 20px;
    font-size: 25px;
    letter-spacing: .03em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }




  .start-button:hover {
    background-color: coral;
    border-radius: 19px;
    position: relative;
    top: 220px;
    left: 20px;
    z-index: 100;
    width: 27%;
    margin-top: 20px;
    font-size: 25px;
    letter-spacing: .03em;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
  }
  .start-button:focus {
    background-color: coral;
    border-radius: 19px;
    position: relative;
    top: 220px;
    left: 20px;
    z-index: 100;
    width: 27%;
    margin-top: 20px;
    font-size: 25px;
    letter-spacing: .03em;
    font-family: 'Roboto', sans-serif;
    outline: none;
  }
  .lightbox img {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
  }
}

.timeline__container {
  display: flex;
  align-items: stretch;
  padding-left: 12px;
  /* justify-content: flex-end; */
}

.timeline__item {
  /* background-color: green; */
  width: 12.5%;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  /* border-bottom: 1px red solid; */
  padding-top: 20px;
}